.portfoliotag{
    margin: 0;
}

.portspantag{
    color: #6c63ff;
}

.portfoliotag2{
    padding:15px 16px;
}

/* Projects Code Beginning */

.wrapper {
    height: 80vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.typing-demo {
    width: 18ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

 /* Projects code end  */

 #about{
     padding:70px 0;
 }

 .font-tag{
     font-size: 1.2rem;
 }

 .make-bold{
     font-weight: bold;
 }

 .padding-to-col{
     padding: 0 25px;
 }

 /* footer */


 .footer-text{
     margin: 0;
 }