{% extends 'base.html' %}
{% block content %}
<section id="about" class="">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <!--<div class="col-md-5 text-center d-none d-md-block padding-to-col">-->
            <div class="col-md-5 text-center padding-to-col">
                <img class="img-fluid" src="static/svg2.svg">
            </div>
            <div class="col-md-5 padding-to-col">
                <p>
                    <div class="display-5 fw-bold">About me!</div>
                    <div class="font-tag">My name is <span class="make-bold">Gaurav Bapu Padwal</span> and I am currently working in<span class="make-bold"> #MNC </span>as a <span class="make-bold">Programmer</span>.</div>
                    <div class="font-tag">
                        I am working with Flask, HTML, CSS and Bootstrap to develop Web Application.
                        I have also automated Excel sheets with VBA. I have 2+ years experience.      
                    </div>
                    <div class="font-tag fw-bold">{My Skills}</div>
                    <div class="font-tag">Python, Flask</div>
                    <div class="font-tag">HTML, CSS, Bootstrap</div>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}