{% extends 'base.html' %}
{% block content %}
<section id="intro" class="">
    <div class="container-fluid icdiv">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h2>
                    <div class="display-4 fw-bold">Hi There!</div>
                    <div class="display-5 text-muted">My Name is Gaurav and I am Python Developer.</div>
                </h2>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid" src="static/svg1.svg">
            </div>
        </div>
    </div>
</section>
{% endblock %}